#loading-tweets-div{hidden: true}
  %table
    %tr
      %td Retrieve User Tweets
      %td.spin#retrieve-user-spin
      %td
        %span.status-icon#retrieve-user-ok{hidden: true}
          %span.glyphicon.glyphicon-ok
        %span.status-icon#retrieve-user-failed{hidden: true}
          %span.glyphicon.glyphicon-remove
        %span.status-label#retrieve-user-label