#progress-div{hidden: true}
  %span
    %p#progress-label
    .progress.progress-striped.active
      .progress-bar#progress-bar-tweets
        %span#progress-bar-tweets-text
      .progress-bar.progress-bar-success#progress-bar-geo
        %span#progress-bar-geo-text
      .progress-bar.progress-bar-warning#progress-bar-lang
        %span#progress-bar-lang-text