#progress-div{hidden: true}
  %table
    %tr
      %td
        %span.arrow#retrieve-user-arrow{hidden: true}
          %span.glyphicon.glyphicon-arrow-right
      %td Retrieve User Tweets
      %td.spin#retrieve-user-spin
      %td
        %span.status-icon#retrieve-user-ok{hidden: true}
          %span.glyphicon.glyphicon-ok
        %span.status-icon#retrieve-user-failed{hidden: true}
          %span.glyphicon.glyphicon-remove
        %span.status-label#retrieve-user-label
    %tr
      %td
        %span.arrow#retrieve-nearby-arrow{hidden: true}
          %span.glyphicon.glyphicon-arrow-right
      %td Retrieve Nearby Tweets
      %td.spin#retrieve-nearby-spin
      %td
        %span.status-icon#retrieve-nearby-ok{hidden: true}
          %span.glyphicon.glyphicon-ok
        %span.status-icon#retrieve-nearby-failed{hidden: true}
          %span.glyphicon.glyphicon-remove
        %span.status-label#retrieve-nearby-label
    %tr
      %td
        %span.arrow#cluster-arrow{hidden: true}
          %span.glyphicon.glyphicon-arrow-right
      %td Cluster Geodata
      %td.spin#cluster-spin
      %td
        %span.status-icon#cluster-ok{hidden: true}
          %span.glyphicon.glyphicon-ok
        %span.status-icon#cluster-failed{hidden: true}
          %span.glyphicon.glyphicon-remove
        %span.status-label#cluster-label
    %tr
      %td
        %span.arrow#model-arrow{hidden: true}
          %span.glyphicon.glyphicon-arrow-right
      %td Create Model
      %td.spin#model-spin
      %td
        %span.status-icon#model-ok{hidden: true}
          %span.glyphicon.glyphicon-ok
        %span.status-icon#model-failed{hidden: true}
          %span.glyphicon.glyphicon-remove
        %span.status-label#model-label