.well
  %p.lead How does it work?
  %p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  %p
    -if current_user
      %a.btn.btn-primary{href: '/'}
        %span.glyphicon.glyphicon-arrow-left
        Back to my Tweets
    -else
      %a.btn.btn-primary{href: '/'}
        Try it now!
        %span.glyphicon.glyphicon-arrow-right