.col-md-5#retrieve-tweets-div
  .well
    .input-group
      %span.input-group-addon @
      %input.form-control#username-field{placeholder: 'Username', :disabled => true, value: @user.name}
      %span.input-group-btn
        %button.btn.btn-primary#update-tweets-button 
          %span.glyphicon.glyphicon-refresh
          Refresh Tweets
    %br
  
    .input-group#set-location-div
      %span.input-group-btn
        %button.btn.btn-default#current-position-button
          %span.glyphicon.glyphicon-screenshot
      %input.form-control#location-field{placeholder: 'Where are you?', 'data-content' => "I was not able to retrieve your current location.\nIn order to generate Tweets you need to tell me where you are.", 'data-placement' =>"bottom", 'rel' => "popover"}
      %span.input-group-btn
        %button.btn.btn-primary#set-location-button 
          %span.glyphicon.glyphicon-map-marker
          Update location
    
  
    = render partial: 'refreshing_location'
            
    #tweet-generator{hidden: true}
      .page-headers
        %p#generation-explanation
      .input-group
        %button.btn.btn-success.center#generate-tweet-button
          %span.glyphicon.glyphicon-asterisk
          Generate Tweet

  .well#generated-tweet-div{hidden: true}
    %p#generated-tweet
    .buttons
      .pull-right
        %button.btn.btn.btn-success#thumbs-up-button
          %span.glyphicon.glyphicon-thumbs-up
        %button.btn.btn.btn-warning#thumbs-down-button
          %span.glyphicon.glyphicon-thumbs-down
      
  
.col-md-7
  #tweet-map
    .map.well#map{style: 'width: 660px; height: 440px;'}
      
    